
<nav class="navbar">
  <div class="logo-container">
    <img [src]="environment.baseUrl + '/assets/logo.png'" alt="" class="logo-img">
    <span class="logo-text">Arquitectura Integral</span>
      <button class="menu-toggle" [class.open]="menuAbierto" aria-label="Abrir menú" (click)="menuAbierto = !menuAbierto">
      <span>-</span>
      <span>-</span>
      <span>-</span>
    </button>
  </div>
  
  <!-- <button class="menu-toggle" [class.open]="menuAbierto" aria-label="Abrir menú" (click)="menuAbierto = !menuAbierto">
    <span></span>
    <span></span>
    <span></span>
  </button> -->

  <ul class="nav-menu" [class.open]="menuAbierto">
     <li><a [href]="environment.baseUrl + '/'">Inicio</a></li>
    <li><a [href]="environment.baseUrl + '/servicios'">Servicios</a></li>
    <li><a [href]="environment.baseUrl + '/proyectos'">Proyectos</a></li>
    <li><a [href]="environment.baseUrl + '/nosotros'">Nosotros</a></li>
    <li><a [href]="environment.baseUrl + '/contacto'">Contacto</a></li>
  </ul>
</nav>